body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fdf6f0;
    margin: 0;
    padding: 0;
    color: #9b6060;
}

header {
    background-color: #e9bcbc;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #963c3c;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ab4b4b;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

section {
    padding: 40px 20px;
}

.skin-type {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #c38787;
    border-radius: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #b85c5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #a04545;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffe6e6;
    color: #b85c5c;
}

.about-section {
    background-color: #fff;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 800px;
}


.back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b85c5c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-home:hover {
    background-color: #a04545;
}
